@page {
    size: A4;
    margin: 0;
}

@media print {
    html,
    body {
        font-size: 12px;
        width: 210mm;
        height: 297mm;
        max-width: 210mm;
        max-height: 297mm;
        min-width: 210mm;
        min-height: 297mm;
    }
}

body {
    background-image: url("../img/fundo2.jpg");
    background-size: 975px 1380px;
    background-repeat: no-repeat;
    background-position: top left;
    background-position: 0 0;
    margin: 0px;
    padding: 0px;
}

div{
	page-size: 975px 1380px;
	margin: 0px;
	padding: 0px;
	column-width: 975px;
	page-break-after: auto;
	}
	
table {
    border-collapse: collapse;
    background-color: transparent;
    border: 0px;
    border-spacing: 0;
    padding: 5px;
    table-layout: fixed;
    width: 595px;
}

td {
    background-color: transparent;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}

td#esquerda {
    border-right: solid;
    border-width: 2px;
}

td#direita {
    border-left: solid;
    border-width: 2px;
}

.borda_topo {
    border-top-width: 2px;
    border-top-style: medium solid;
}

.borda_bottom {
    border-top-style: 1px solid;
    border-right-style: 1px solid;
    border-bottom-style: 2px solid;
    border-left-style: 1px solid;
}

td#corpo {
    border-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

.descricao {
    text-align: left;
    padding-left: 3px;
}

.fundocinza {
    background-color: #d1d1d1;
}

tr#corpo {
    background-color: transparent;
}

tr#corpo:nth-child(even) {
    background-color: #d1d1d1;
}

td#subtitulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.titulo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: right;
}

th {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    border-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    border-bottom-color: #000000;
    background-color: #000000;
    color: #ffffff;
}