@page {
    size: A4;
    margin: 0;
}

@media print {
    html,
    body {
        font-size: 12px;
        width: 210mm;
        height: 297mm;
        max-width: 210mm;
        max-height: 297mm;
        min-width: 210mm;
        min-height: 297mm;
    }
}

body {
    background-image: url("../img/fundo2.jpg");
    background-size: 975px 1380px;
    background-repeat: no-repeat;
    background-position: top left;
    background-position: 0 0;
    margin: 0in;
    padding: 0in;
}

table {
    border: 0px;
    padding: 5px;
    table-layout: fixed;
    width: 595px;
}

.tg:nth-child(even) {
    background-color: #8f8f8f;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #000000;
}

.tg2 {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #000000;
}


/* Borda transparente */

.tg td {
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 4px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: rgba(255, 255, 255, 0);
    color: #333;
    background-color: #fff;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 4px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
    background-color: #f0f0f0;
}

.tg2 th2 {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 4px 5px;
    border-style: hidden;
    border-width: 0px;
    overflow: hidden;
    word-break: normal;
    text-align: center;
    vertical-align: top;
    border-color: #ccc;
    color: #333;
    background-color: #f0f0f0;
}

.tg .tg-qsvf {
    font-size: 13px;
    vertical-align: top
}

.tg .tg-x3uc {
    font-weight: bold;
    background-color: #c0c0c0;
    border-color: #000000;
    text-align: center
}

.tg .tg-k7ar {
    font-weight: bold;
    background-color: #c0c0c0;
    border-color: #000000;
    text-align: center;
    vertical-align: top
}

.tg .tg-us36 {
    border-color: #000000;
    background-color: transparent;
    vertical-align: top;
    padding: 4px 5px
}

.tg2 .tg2-us36 {
    border-color: #000000;
    vertical-align: top;
    padding: 4px 5px
}

.tg .tg-uy9o {
    font-size: 12px;
    vertical-align: top
}

.tg .tg-yw4l {
    vertical-align: top
}